<div class="my-5">
    <div class="text-center mb-4">
        <h1>Latest Blog</h1>
    </div>
    <div class="p-5">
        {% for post in posts %}
            <div class="border border-danger p-3 my-3">
                <div class="text-center">
                    <strong>{{ post.publishedAt|date('Y-m-d') }}</strong>
                </div>
                <div class="float-left p-3">
                    <img src="{{ asset('src/posts/' ~ post.thumbnail) }}" alt="" height="150px">
                </div>
                <div class="d-flex flex-column">
                    <h1 class="m-1">{{ post.title }}</h1>
                    <p>{{ post.summary }}</p>
                    <div class="flex-fill"></div>
                    <div>
                        <a class="btn btn-lg btn-primary" href="blog/{{ post.slug }}">READ MORE</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>